//----------------------------------
// Variables
//------------------------------------
$canvasHeight: 7200;
$canvasWidth: 1800;
$accentColor: #ef5c22;
$default: #9d9dc4;
$blue: #06001e;

.centre-text {
	text-align: center;
}